.main{
    width: 100%;
    float: left;
    padding: 20px;
}

.empname{
    width: 100%;
    float: left;
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #000;
}

.activeemp{
    font-weight: bold;
    font-size: 22px;
}
